/* Class Styles */

/*.navbar-text {
  right: 0;
}*/

@font-face {
    font-family: 'SegoeUI';
    src: url('../assets/fonts/SegoeUI.tff');
    src: url('../assets/fonts/SegoeUI.woff');
}

* {
  font-family: 'SegoeUI', sans-serif;
}
/* --------------------------------------
Header Styles
-------------------------------------- */

.navbar {
  box-shadow: 0px 0.1px 10px rgba(0,0,0,0.5);
}

.main-header-outer {
  height: 50vh;
  margin-top: 70px;
}

.main-header-inner {
  position: relative;
  height: 50vh;
  background: linear-gradient(90deg, #19194B 0%, transparent 90%);
}

.header-title {
  color: white;
  font-size: 4rem !important;
  position: absolute;
  top: 80px;
  left: 40px;
}

.header-subtitle {
  color: white;
  position: absolute;
  top: 160px;
  left: 40px;
}

.header-img {
  /*left: 40%;*/
  bottom: -140px;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
}

.header-btn {
  top: 190px;
  left: 40px;
  position: absolute;
}

.skype-button {
  background-color: rgba(0,0,0,0.5);
  font-size: 0.65rem!important;
  padding: 10px!important;
}

.skype-button:hover {
  background-color: #19194B;

}

.skype-button a {
  background-color: #224870;
}

@media (max-width: 1600px) {
  .header-img {
    bottom: 0px;
  }

  .main-header-inner {
    height: 35vh;
  }

  .main-header-outer {
    height: 35vh;
  }

  .header-title {
    font-size: 3rem!important;
    top: 20px;
  }

  .header-subtitle {
    top: 80px;
  }

  .header-btn {
    top: 100px;
  }

  .background-svg {
    height: 21vh;
  }
}

.phone {
  padding: 8px;
}

@media (max-width: 800px) {
  .header-img {
    /* height: 100%!important; */
    left: 0px;
  }
}

/* --------------------------------------
Testimonial Styles
-------------------------------------- */

.background-svg {
  position: absolute;
  height: 36vh;
}

.testimonial-wrapper-outer {
  height: calc(30vh + 90px);
  background-color: rgba(240, 240, 240, 1);
  box-shadow: 0 2px 1px rgba(240, 240, 240, 1);
}

.testimonial-wrapper-inner {
  position: relative;
}

.carousel-item-test p {
  color: rgba(150, 150, 150, 1);
}

.partners-img {
  opacity: 0.5;
}

/* --------------------------------------
Home page main content Styles
-------------------------------------- */

.content-wrapper-outer {
  /*margin-top: 50px;*/
  /*background-color: rgba(240, 240, 240, 0.5);*/
  width: 80%;
  margin: 0 auto;
}

.content-wrapper-inner .container {
  max-width: 100%!important;
}

/* --------------------------------------
Column block Styles
-------------------------------------- */

.block {
  padding: 30px 80px;
  /*background-color: rgba(240, 240, 240, 0.5);*/
  margin: 0 20px;
  border-top-right-radius: 10px;
}

.block-heading {
  font-size: 2rem !important;
}

.block-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.block-text {
  color: #A0ACAD;
  font-size: 1rem!important;
}

.vid-block {
  height: 500px;
  position: relative;
}

.vid-block img {
  padding: 0 100px;
}

.vid-block-text {
  transition: all 0.5s;
  position: absolute;
  right: 0;
  left: 0;
  /*top: 230px;*/
  padding: 20px 30px 30px;
  margin: 10px 20px;
}

.vid-block-text h2 {
  font-size: 3rem;
}

.vid-block-text p {

}

/* --------------------------------------
Secondary content Styles
-------------------------------------- */

.secondary-content-outer {
  height: 500px;
  margin-top: 17.5vh;
}

.secondary-content-inner {
  /*background: linear-gradient(90deg, transparent, #38AECC 35%);*/
  /*position: relative;*/
  height: 500px;
  width: 100%;
}

.secondary-content-img {
  /*top: 0;
  height: 100%;
  position: absolute;
  z-index: 100;
  left: 0;*/
  /*position: relative;*/
  box-sizing: border-box;
  margin: 0 auto;
}

.secondary-content-inner .container {
  max-width: 80%!important;
  height: 500px;
  /*padding: 0;
  margin: 0;*/
}

.services-container .row {
  max-width: 100%!important;
}

.text-block-right {
  width: 50%;
  left: 45%;
  top: 30%;
  position: absolute;
}

.text-block-left {
  width: 50%;
  top: 30%;
  position: absolute;
}

.text-block-right h2 {
  color: white;
  font-size: 3rem !important;
}

.text-block-right p {
  color: #E8F7EE;
}

.text-block-left h2 {
  color: black;
}

.text-block-left h3 {
    font-size: 2rem!important;
}

.text-block-left p {
  color: rgba(0,0,0,0.6);
}

.tertiary-outer {
  background-color: #19194B;
  max-width: 100%!important;
}

.tertiary-content,
.quaternary-content {
  max-width: 80%!important;
}

.tertiary-content h2,
.quaternary-content h2 {
  font-size: 1.8rem !important;
}

.tertiary-content h2 {
  color: #FFF;
  margin-top: 15%;
}

.tertiary-content p {
  color: rgba(255,255,255,0.8);
  text-align: justify;
  font-size: 0.8rem;
}

.quaternary-content p {
  color: rgba(0,0,0,0.8);
  text-align: justify;
  font-size: 0.8rem;
}

.three-six-five {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.tertiary-content img {
  width: 100%;
  height: auto;
}

.tertiary-content-img {
  margin: 0 auto;
}

.tertiary-divider {
  border-color: white;
}

.img-back {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
}

/* --------------------------------------
Map content Styles
-------------------------------------- */

.map-outer {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.map-svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left:0;
  height: 300px;
  width: 100%;
}

/* --------------------------------------
Pre-footer content Styles
-------------------------------------- */

.pre-footer {
  width: 80%;
  margin: 40px auto;
}

.pre-footer .flex {
  display: flex;
  justify-content: space-around;
}

.img-link {
  width: 50%;
}

.img-link-left {
  padding-right: 20px;
}

.img-link-right {
  padding-left: 20px;
}

.location-home-text {
  color: white;
  width: 30%;
  left: 13%;
  top: 40px;
  z-index: 1000;
}

.img-link {
  height: 400px;
}

.img-link img {
  /*background: linear-gradient(0deg, rgba(240,240,240, 0.6), rgba(240,240,240, 0.1));*/
}

/* --------------------------------------
Map Styles
-------------------------------------- */

.locations-wrapper-contact {
  background-color: rgba(240, 240, 240, 1);
  padding: 20px 0;
}

.loc-cont {
  z-index: 1000;
}

.loc-list {
  text-decoration: none;
  list-style-type: none;
}

.loc-list-item {
  color: rgba(0,0,0, 0.6);
  margin: 5px 0;
  font-size: 1rem!important;
  transition: all 0.3s;
}

.loc-list-item:hover {
  color: rgba(0,0,0, 1);
}

/* --------------------------------------
Pre-footer image Styles
-------------------------------------- */

.container-img {
    position: relative;
    /*width: 50%;*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container-img:hover .image {
  opacity: 0.3;
}

.container-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #38AECC;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* --------------------------------------
Footer Styles
-------------------------------------- */

.main-footer {
  height: 25vh;
  background-color: #19194B;
}

.footer-links-header {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  padding-left: 40px;
}

.footer-links li {
  margin: 10px 0px;
}

.footer-links li a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-links li a:hover {
  color: rgba(255, 255, 255, 1)
}

/* ID Styles */

#canvas-3 {

}

#chatIconText {
  color: white;
}

#carouselHome {
  width: 80%;
  margin: 40px auto 0 auto;
  max-width: 100%!important;
}

#svg-above-map-home {
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 8px;
}

/* DRY Styles */

.svg-above {
  position: absolute;
  z-index: 30;
}

.svg-behind {
  position: absolute;
  z-index: -30;
}

.svg-above-svg {
  position: absolute;
  top: 80px;

}

.push-right {
  position: absolute;
  right: 30px;
}

.svg-above-img {
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  padding: inherit;
  left: 0;
}

/* Button Styles */

.header-btn {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 2px 10px;
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  color: white;
  background: rgba(0,0,0,0);
  border: solid 1px white;
  transition: all 0.2s;
}

.header-btn:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #38AECC;

}
